<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Base64 Test</title>
</head>
<body>
  <img src="data:image/webp;base64,RlI1MDAwMDUBAAAAAAAAAOgSO5ZHEui/zLUAUcAwgOIk1zpTxfoSBheAEUAGV8b0EWqvuRdm0TtG4yOjS1LLNsYAgAD6APTSyymoO6k1lvqAu/rdxh40AJitKBcL4+8MKuj6NtD0HSPdBhcvu8u6gPqvEnIqDBykyy7MF9d/Kafj+pY24/qWnF1BL9jXxbTFf8vpDFjidfQ0pumAf9cj48vF72QLgOMqKgDdWQxN7ugSEhgMrxG7gBLRC0w1HU36DIoGoO5ny6c6PyPj+vS0ZEsXUrr0wCMGO7+uOxEvO93jxiQpxcS0hBfQd94dLwbpSwx/IwBN6DpKhcwMwOno3BKi+oAG4zQ03UcoKRdM0fQ=" alt="Test Image" />
</body>
</html>